<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="form-group">
  <form #passwordForm="ngForm" (ngSubmit)="submitPassword(passwordForm)">
    <label for="password">{{ "Password_Prompt.Password" | translate }}:</label>
    <input [attr.type]="showPassword ? 'text' : 'password'" id="password" name="password" ngModel required>
    <span class="eye-icon" (click)="viewPassword()">
      <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
    </span>
  </form>
  <button class="wizard-button" type="submit" [disabled]="!passwordForm.valid">{{ "Password_Prompt.Submit" | translate }}</button>
</div>
