@import './app/components/variables'; // Assuming this imports your custom variables

.form-group {
  position: relative;
  width: 50%;

  label {
    font-size: small;
    color: $gray-60;
    display: block; /* Ensure label is displayed as block */
    margin-bottom: 5px; /* Add some bottom margin */
  }

  button.wizard-button {
    background: $gray-15;
    border: 1px solid $gray-30;
    border-radius: 10px;
    cursor: pointer;
    max-height: 50px;
    max-width: 150px;
    min-width: 100px;
    outline: none;
    padding: 8px;
    transition: background-color 300ms, box-shadow 300ms, color 300ms;

    &:enabled {
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &:hover {
      background: $gray-10;
    }

    &:disabled {
      cursor: not-allowed; /* Change cursor type for disabled state */
      opacity: 0.5; /* Reduce opacity for disabled state */
    }

    &:active {
      box-shadow: none;
      transform: translateY(1px);
      transition: transform 100ms;
    }
  }

  input {
    padding: 0px 15px; /* Adjust padding for better input height */
    height: 30px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 80px); /* Adjust input width calculation */
    margin-bottom: 10px; /* Add bottom margin */
  }

  .eye-icon {
    position: relative;
    right: 30px; /* Adjust position for better alignment */
    cursor: pointer;
  }
}
